.form-title{
    height: 75px;
    width: 100px;
}
.form-details{
    height: 150px;
    width: 200px;
}

.form-control{
    width:200px;
}
h2{
    color:black;
}

.btn.btn-default.remove {
	float: right
}