.form-title{
    height: 50px !important;
    width: 300px !important;
}
.form-details{
    height: 150px !important;
    width: 300px !important;
}
.form-control{
    width:200px;
}
h2{
    color:black;
}
.info{
    display: block;
}
h5{
    display:inline;
    padding-left: 30px;
}

h6{
    display: inline; 
    padding-left:8px;
}
.upload-btn{
    height:50px;
    width:70px !important;
}

.btn.btn-default.remove {
	float: right
}
.add-new{
    background-color:#32CD32 !important;
    margin-top:10px !important;
    border-radius:10px !important;
    margin-bottom: 10px !important;
}

.onoffswitch {
    position: relative; width: 85px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 6px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "LOST";
    padding-left: 10px;
    background-color: #929494; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "FOUND";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 53px;
    border: 2px solid #999999; border-radius: 6px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}