.form-title{
    height: 50px !important;
    width: 300px !important;
}
.form-details{
    height: 150px !important;
    width: 300px !important;
}
.form-control{
    width:200px;
}
h2{
    color:black;
}

.btn.btn-default.remove {
	float: right
}